body {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  background-color:darkred;
  cursor: url("../assets/img/icon.cur"), auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

body::before, body::after {
  content: ""; 
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100vw - 900px) / 2); 
  z-index: -1;
}

body::before {
  left: 0;
  background: url("../assets/img/6.png") no-repeat center center;
  background-size: cover;
}

body::after {
  right: 0;
  background: url("../assets/img/5.png") no-repeat center center;
  background-size: cover;
}

.content {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: black;
  border: 5px dashed darkred;
  color:chartreuse;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.main-image {
  border: 5px dotted blue;
  margin-bottom: 5%;
}

.small-image {
  width: 50px;
  height: 50px;
  border: 3px solid blueviolet;
  transform: rotate(-5deg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 15px 0;
  background-color: rgb(14, 175, 108);
  padding: 5px 20px;
  border-radius: 4px;
}

li:hover {
  background-color: lightgoldenrodyellow;
}

h1 {
  font-size: 36px;
  font-size: bold;
  background-color: rgb(14, 175, 108);
  color:chocolate;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  padding: 20px 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
  letter-spacing: 1px;
  margin: 20px 0;
  color:chartreuse;
}

.gif-background {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.giphy-embed {
  width: 48%;
  border: 3px solid #000;
}

img {
  display: block;
  margin: 20px auto;
}