body {
  cursor: url("./assets/img/icon.cur"), auto;
  font-family: "Comic Sans MS", sans-serif;
  background-color:darkred;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: black;
  border: 5px dashed darkred;
  color:chartreuse;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 15px 0;
  background-color: rgb(14, 175, 108);
  padding: 5px 20px;
  border-radius: 4px;
}

li:hover {
  background-color: lightgoldenrodyellow;
}

h1 {
  background-color: rgb(14, 175, 108);
  color:chocolate;
  text-align: center;
  font-family: monospace;
  padding: 10px 0;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: 20px;
  text-align: center;
  color:chartreuse;
}

.gif-background {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.giphy-embed {
  width: 48%;
  border: 3px solid #000;
}

img {
  display: block;
  margin: 20px auto;
}