body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.progress-bar-container {
    position: relative;
    width: 80%;
    height: 120px;
    cursor: pointer;
    margin-bottom: 50px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  .progress-bar-container:hover {
    background-color: #3ca4ed;
    transition: background-color 0.5s ease;
  }

  h1 {
    font-size: 4em;
    color: #2c3e50;
    margin-bottom: 10px;
    font-family: 'East Sea Dokdo', cursive, sans-serif;
  }

  #floating-cell img {
    width: 50px; 
    height: auto;
}

  p {
    font-size: 1.5em;
    text-align: center;
    color: #34495e;
    margin-bottom: 100px;
    font-family: 'Baskervville', sans-serif;
  }


  .button-text {
    position: absolute;
    left: 20px;
    top: 20%;
    font-family:'East Sea Dokdo', cursive, sans-serif;
    font-size: 40px;
    transform: translateY(-50%);
    font-weight: 1000;
    color: #333;
  }
  
  #main-title {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  #main-description {
    font-size: 1.2em;
    color: #34495e;
    margin-bottom: 20px;
  }
  
  .object-figure {
    position: relative;
    width: 80px; 
    height: auto;
    transition: transform 0.5s ease;
  }
  

  .scientist-figure {
    position: absolute;
    top: 50%;
    left: 20;
    transform: translateY(-50%); 
    transition: left 0.5s; 
    width: 120px; 
    height: auto;
    z-index: 10;
  }
  
